@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Satoshi-Black';
  src: url('/fonts/Satoshi-Black.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansTC-Medium';
  src: url('/fonts/NotoSansTC-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'NotoSansTC-Bold';
  src: url('/fonts/NotoSansTC-Bold.ttf') format('opentype');
}

body {
  @apply bg-primary-300;
  color: var(--foreground);
  font-family: 'Satoshi-Medium', 'NotoSansTC-Medium';
}

.custom-font-medium {
  font-family: 'Satoshi-Medium', 'NotoSansTC-Medium';
}

.custom-font-bold {
  font-family: 'Satoshi-Bold', 'NotoSansTC-Bold';
}

.custom-font-black {
  font-family: 'Satoshi-Black';
}

.track {
  position: absolute;
  white-space: nowrap;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.carousel__wrap {
  margin-top: 10%;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__inner {
  height: 40rem;
  position: relative;
  width: 200px;
}

.carousel__container {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-list {
  height: 100%;
  left: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-50%);
  width: calc((var(5) + 0.5) * 200px * 2);
}

.carousel__slide-item {
  display: inline-block;
  height: 200px;
  margin: 0;
  padding: 1rem;
  position: absolute;
  transition: all 0.3s;
  width: 200px;
}

.carousel__slide-item-img-link {
  cursor: zoom-in;
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel__slide-item-img-link img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
  width: 100%;
}

.carousel__slide-item-img-link::after {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  content: 'read more';
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  width: 100%;
}

.carousel__slide-item-img-link:hover::after {
  opacity: 1;
}

.carousel__slide-item-img-link:hover img {
  transform: scale(1.3);
}

.carousel-slide-item__body {
  bottom: -2.5rem;
  height: 10%;
  position: absolute;
}

.carousel-slide-item__body h4 {
  margin: 0.7rem 0 0;
  text-transform: uppercase;
}

.carousel-slide-item__body p {
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0.7rem 0 0;
}

.carousel__btn {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__btn--prev {
  left: -10rem;
}

.carousel__btn--next {
  right: -10rem;
}

.carousel__btn-arrow {
  border: solid black;
  border-width: 0 0.4rem 0.4rem 0;
  height: 6rem;
  padding: 3px;
  width: 6rem;
  z-index: 10;
}

.carousel__btn-arrow--left {
  transform: rotate(135deg);
}

.carousel__btn-arrow--right {
  transform: rotate(-45deg);
}

.carousel__dots {
  display: inline-block;
  left: 50%;
  margin-top: 2rem;
  position: absolute;
  transform: translateX(-50%);
}

.carousel__dots .dot {
  background: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  margin: 0 0.3rem;
  outline: none;
  transform: scale(0.5);
  width: 2rem;
}

.carousel__dots .dot.active {
  background: black;
}
